{% extends 'eduprogram/dadada.html' %}
{% load static %}

{% block title %}Я{% endblock %}

{% block content %}
<div class="features1">
    <h1>Я</h1>
    <h3>ФИО: Бочарова Дарья Алексеевна</h3>
    <p>Фото:</p>
    <p><img src="{% static 'eduprogram/img/я.jpg' %}"></p>
    <p><strong>Электронная почта:</strong> dabocharova_1@edu.hse.ru</p>
    <p><strong>Телефон:</strong> 8 955 555 5555</p>
    <h4>РЕЗЮМЕ:</h4>
    <p><strong>Hard Skills:</strong> Python, Анализ данных: методы машинного обучения, A/B-тестирование, прогнозирование, Работа с базами данных, Финансовый анализ и макроэкономическое моделирование, Инструменты: Excel (анализ данных, сводные таблицы), PowerPoint, Figma, Orange, Gephi, Jira, Английский язык</p>
    <p><strong>Soft Skills:</strong> Коммуникабельность и умение выстраивать деловые связи, Стрессоустойчивость и способность работать в динамичной среде, Аналитическое мышление и внимание к деталям, Навык работы в команде и управления проектами, Гибкость и быстрое освоение новых технологий</p>
    <p><strong>Лидерский опыт:</strong> Студактив НИУ ВШЭ "ССФЭ" (2023 – наст. время): Организация проектов (пример: День Рождения факультета экономики НИУ ВШЭ, Посвящение студентов ФЭНа), PR (offline/online), коммуникация с партнерами, Менеджер по работе со студенческими организациями, Составление ТЗ, Грамотное делегирование задач</p>
</div>
{% endblock %}

