{% extends 'eduprogram/dadada.html' %}
{% load static %}

{% block title %}Мои сокурсники{% endblock %}

{% block content %}
<div class="features4">
    <h1>Мои сокурсники</h1>
    <h2><strong>Сокурсник 1</strong></h2>
    <p>ФИО: Смирнова Вероника Сергеевна</p>
    <p>Фото:</p>
    <p><img src="{% static 'eduprogram/img/сокурсница.jpg' %}"></p>
    <p><strong>Электронная почта:</strong>vsmirnova_6@edu.hse.ru</p>
    <p><strong>Номер телефона:</strong>8 966 777 3456</p>
    <p> . </p>
    <p> . </p>
    <p> . </p>
    <h2><strong>Сокурсник 2</strong></h2>
    <p>ФИО: Петров Арсений Алексеевич</p>
    <p>Фото:</p>
    <p><img src="{% static 'eduprogram/img/сокурсник.jpg' %}"></p>
    <p><strong>Электронная почта:</strong>:parsalex_5@edu.hse.ru</p>
    <p><strong>Номер телефона:</strong>:8 977 567 2356</p>

</div>
{% endblock %}