{% extends 'eduprogram/dadada.html' %}
{% load static %}

{% block title %}Образовательная программа{% endblock %}

{% block content %}
<div class="features2">
    <h1>Образовательная программа: "Экономика"</h1>

    <p><strong>ССЫЛКА:</strong> 
        <a href="https://www.hse.ru/ba/economics/" target="_blank">
            https://www.hse.ru/ba/economics/
        </a>
    </p>

    <p><strong>Что я буду изучать</strong>: В процессе обучения на программе «Экономика» я буду изучать экономическую теорию, в частности: основы микро- и макроэкономики, принципы функционирования рынков и экономических систем. Эконометрику: Методы статистического анализа экономических данных, включая регрессионный анализ и прогнозирование. Методы машинного обучения: Основы алгоритмов и моделей, применяемых для анализа больших данных и выявления закономерностей. Прикладные дисциплины: Темы, связанные с финансовым анализом, международной экономикой, управлением и политикой. Научные исследования: Основы проведения исследований, написания научных статей и публикаций в экономической области. Практическая подготовка: Работа с базами данных, участие в мастер-классах и проектах, которые помогут применить теоретические знания на практике.</p>

    <p><strong>Чему научусь:</strong> В процессе обучения на программе «Экономика» я получу фундаментальные знания в экономической теории и эконометрике, освою методы машинного обучения и прикладные дисциплины, а также научусь проводить исследования и публиковать научные работы. Программа включает индивидуализацию учебного плана, практическую подготовку с работой с базами данных и участие в мастер-классах от специалистов. По окончании обучения я получу степень бакалавра, что откроет возможности для карьеры в аналитических и управленческих позициях.</p>

    <p><strong>Преимущества программы:</strong> Программа обучения предоставляет глубокие знания современных экономических моделей и трендов цифровой экономики, а также методы анализа данных и машинного обучения для решения экономических задач. Она объединяет высшую математику, экономическую теорию и прикладные дисциплины, развивая навыки soft-skills, такие как успешные презентации и деловые переговоры, что помогает выпускникам выделяться на рынке труда. Программа также поддерживает иностранных студентов, предлагая помощь в изучении русского языка и предоставляя тьютора. Формат обучения сочетает академические знания и практические инструменты, что открывает возможности для продолжения учебы в магистратуре и докторантуре ведущих университетов.</p>

    <p><strong>Перспективы после обучения:</strong> Обучение по этой программе открывает блестящие перспективы на рынке труда. Выпускники смогут найти престижные и высокооплачиваемые должности как в Москве, так и за границей благодаря отличному знанию английского и международному статусу диплома Высшей школы экономики. Этот диплом высоко ценится зарубежными работодателями и университетами. Выпускники смогут строить карьеру аналитиков и управленцев, а также продолжать обучение в магистратуре и докторантуре в ведущих вузах России и за рубежом.</p>
</div>
{% endblock %}
