{% extends 'eduprogram/dadada.html' %}
{% load static %}

{% block title %}Менеджмент{% endblock %}

{% block content %}
<div class="features3">
    <h1>Менеджмент</h1>
    <h2>ФИО академического руководителя: Букин Кирилл Александрович</h2>
    <p>Фото:</p>
    <p><img src="{% static 'eduprogram/img/пекарский.jpg' %}"></p>
    <p><strong>Электронная почта:</strong>kbukin@hse.ru</p>
    <p><strong>ФИО менеджера образовательной программы:</strong>Макарова Галина Викторовна</p>
    <p>Фото:</p>
    <p><img src="{% static 'eduprogram/img/менеджер.jpg' %}"></p>
    <p><strong>Электронная почта:</strong>gmakarova@hse.ru</p>
</div>
{% endblock %}